/* teste{
    justify-content: center;
    align-items: center;
    /* flex-direction: ; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
}

:root{
    --azul: #060821;
    --rosa: #c12d6d;
    --branco: #ffffff;

    --fonte1: 'Righteous', cursive;
    --fonte2: 'Titillium Web', sans-serif;
}

header{
    background-color: var(--azul);
    /* background-color: #060821; */
}

.posicionamentoHeader{
  width: 1400px;
  margin: 0 auto;
  /* background-color: aqua;   */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.posicionamentoHeader img{
    width: 250px;
}

header nav{
    width: 450px;
    display: flex;
    justify-content: space-between;
    font-family: var(--fonte1);
    font-size: 18px;
}

header a{
    color: var(--branco);
    text-transform: uppercase;
    text-decoration: none;
}

.btnLogin{
    border: 3px solid var(--rosa);
    padding: 1px 25px;
    border-radius: 30%;
}
h1{
    position: absolute;
    left: -999em;
    width: 1em;
}

.banner{
    background-image: url(../img/banner-background.png);
    height: calc(100vh - 80px);
    color: var(--branco);
    font-family: var(--fonte2);
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.bannerConteudo{
    background: linear-gradient(114.61deg, rgba(255, 255, 255, 0.052) 1.08%, rgba(255, 255, 255, 0.117) 99.26%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 30px 30px 60px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    width: 50%;
    margin: 0 auto;
}
.bannerSlogan1{
    font-size: 60px;
    font-family: var(--fonte1);
}
.bannerSlogan2{
    font-size: 24px;
    margin: 50px;

}
.bannerSlogan3{
    font-size: 22px;
    text-decoration: underline;
}
.bannerBotoes{
    display: flex;
    justify-content: space-between;
    width: 75%;
}
.botao{
    font-family: var(--fonte1);
    color: var(--branco);
    text-transform: uppercase;
    font-size: 18px;
    /* text-decoration: none; - já colocado no css reser */
}
.bannerBotaoDev{
    background: rgba(255, 255, 255, 0.01);
    border: 4px solid var(--rosa);
    padding: 10px 30px;
    /* border-radius: 30px; */
}